* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit',sans-serif;
    line-height: 1.6;
    background-color: bisque;
   

}
h1,h2{
    font-family: 'Young-Serif';  
}
h2,h3{
    color: #78284E;
}
li{
    color: #5F564D;  
}
li::marker{
    color: #78284E;
}

hr{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid #E3DDD7;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 760px;
    margin: 128px auto;
    border-radius: 16px;
    padding: 50px 50px 50px 50px;
    flex:1
}

.introduction img{
    width: 656px;
    height: 300px;
    border-radius: 16px;
    align-items: center;
    margin: auto;
}
.recipe-title{
    font-size: 2rem;
   margin-top:40px ;
   margin-bottom:24px ;
}
.introduction p{
    color: #5F564D;
    margin-bottom: 32px;
    font-weight: 300;
}

.prep-time-container{
    background-color: #FFF7FB;
    padding: 1.5rem;
    border-radius: 16px;
}

.prep-time h3{
font-size: 1.25rem;
margin-bottom: 16px;
}

.prep-time li{
    line-height: 2;
    font-weight: 300;
}

.ingredients h2{
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 1.75 rem;
}

.ingredients li{
list-style-position:inside ;
 font-weight: 300;  
 line-height: 2;
}

.instructions h2{
    margin-bottom: 24px;
    font-size: 1.75 rem;
}
.instructions li{
    list-style-position:inside ; 
    font-weight: 300;  
    line-height: 2.3;
}
.instructions ol>li::marker{
    font-weight: 900;
}

.nutrition h2{
    margin-bottom: 24px;
    font-size: 28px;
}
.nutrition p {
    font-weight: 250;
}
.nutrition table{
    margin-top: 24px;
}

.nutrition-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.9em ;
    min-width: 600px;

}

.nutrition-table th{
font-family: "Outfit";
font-weight: 300;
padding: 12px 100px;

}

.nutrition-table td{
    font-family: "Outfit";
    font-weight: 700;
    color: #78284E;
    padding: 12px 100px;
}

.nutrition-table tbody tr{
    border-bottom: 1px solid #E3DDD7;
}

.attribution{
    display: flex;
    margin: auto;
    justify-content: center;
}